<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="row">
		<div class="product-group col-lg-10">
			<h2 class="list-product-title">SẢN PHẨM</h2>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-12" th:each="p : ${items}">
					<div class="card card-product mb-3">
						<img class="card-img-top" th:src="@{|/assets/images/${p.image}|}">
						<div class="card-body">
							<h5 class="card-title product-title" th:text="${p.name}"></h5>
							<div class="card-text product-price">
								<span class="new-price" th:text="${p.price}"></span>
							</div>
							<button class="btn btn-info btn-add-to-cart" th:attr="ng-click=@{|cart.add(${p.id})|}">
								<i class="fas fa-shopping-cart"></i>
							</button>
							<a th:href="@{|/product/detail/${p.id}|}" class="btn btn-outline-info btn-detail">Xem chi tiết</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
			<ul class="pagination pagination-sm"
				style="position: absolute; left: 350px; bottom: -20px"
				th:if="${session.keywords != null}">
				<li class="page-item "><a class="page-link"
					th:href="@{|/product/search?page=${items.number-1}&keyword=${session.keywords}|}">Previous</a>
				</li>
				<li class="page-item"><a class="page-link"
					th:href="@{|/product/search?page=${items.number}&keyword=${session.keywords}|}">[[${items.number+1}]]</a>
				</li>
				<li class="page-item"><a class="page-link"
					th:href="@{|/product/search?page=${items.number+1}&keyword=${session.keywords}|}">[[${items.number+2}]]</a>
				</li>
				<li class="page-item"><a class="page-link"
					th:href="@{|/product/search?page=${items.number+2}&keyword=${session.keywords}|}">[[${items.number+3}]]</a>
				</li>
				<li class="page-item"><a class="page-link"
					th:href="@{|/product/search?page=${items.number+1}&keyword=${session.keywords}|}">Next</a>
				</li>
			</ul>
			
		</div>
		</div>
	</main>
</body>

</html>